h2 {
  font-size: 30px;
  font-weight: bolder;
  padding: 1.5rem;
}

.container {
  width: 1200px;
  /* height: 100%; */
  /* display: flex;
  justify-content: center; */
}

.header-content {
  background-color: #cccc;
  border-radius: 8px;
  display: flex;
  padding: 1.5rem;
}

.add-btn {
  margin-right: 40px;
  background-color: #0072d2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 2rem;
  cursor: pointer;
  margin: 0 0 0 35rem;
}

.add-btn:hover {
  background-color: #0682f0;
  transition: all 0.2s ease 0s;
}

.working-add {
  padding: 1.5rem;
}

.done-add {
  padding: 1.5rem;
}

.list-arr {
  display: flex;
  margin-top: 30px;
}

.delete-btn {
  margin: 40px 0 0 0px;
  cursor: pointer;
  background-color: #0072d2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 2rem;
}
.lists-arr {
  width: 300px;
  height: 100px;
  padding: 1rem;
  margin: 5px;
  border: 3px solid #0063e5;
  border-radius: 10px;
  /* display: flex;
  align-items: center; */
}

ul {
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 1.5rem;
}

.add-list {
  display: flex;
}

p {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 10px;
}

.input-Style {
  border-radius: 5px;
  border: none;
}
