h2 {
  font-size: 30px;
  font-weight: bolder;
  padding: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 10px;
}

p {
  font-size: 15px;
  list-style: none;
  text-align: center;
  margin: 10px;
}
